header {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    font-size: 70px;
    border-radius: 0,3em;
    background-image: url("../pictures/gouttes.jpg");
    background-size: contain;
  }

  .jumbotron {
    position: relative;
    width: 90%;
    margin-right:auto;
    margin-left:auto;
    background-image: url('../pictures/panorama.jpg');
    background-size: cover;
  }

  .map-container-5{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container-5 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }

    .border {
      border-width:5px solid orange;
 }
